[submodule "connectors"]
	path = connectors
	url = https://github.com/amanaation/connectors.git
[submodule "Ingestion_core_repo"]
	path = Ingestion_core_repo
	url = https://github.com/amanaation/Ingestion_core_repo.git
